header {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  display: flex;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
  }
}

.tabs {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    flex: 1;
    text-align: center;
    justify-items: center;
  }
}

.active {
  color: #80bd01;
}
